$sprites: (
{{#items}}
    {{name}}: (
        offsetX: {{px.offset_x}},
        offsetY: {{px.offset_y}},
        width: {{px.width}},
        height: {{px.height}},
        image: "{{{escaped_image}}}"
    ),
{{/items}}
);

@mixin sprite($name) {
    $sprite : map-get($sprites, $name);

    background-image: url(map-get($sprite, 'image'));
    background-position: map-get($sprite, 'offsetX') map-get($sprite, 'offsetY');
    height: map-get($sprite, 'height');
    width: map-get($sprite, 'width');
}

@mixin sprite-position($name) {
    $sprite : map-get($sprites, $name);

    background-position: map-get($sprite, 'offsetX') map-get($sprite, 'offsetY');
}

@function sprite-width($name) {
    @return map-get(map-get($sprites, $name), 'width');
}

@function sprite-height($name) {
    @return map-get(map-get($sprites, $name), 'height');
}

@function sprite-image($name) {
    @return map-get(map-get($sprites, $name), 'image');
}